@inject Microsoft.Extensions.Localization.IStringLocalizer<Project3ViTour.Resources.SharedResource> L

<section class="breadcumb-section">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12 center z-index1">
                <h1 class="title">@L["Breadcrumb_Tours"]</h1>
                <ul class="breadcumb-list flex-five">
                    <li><a href="index.html">@L["Breadcrumb_Home"]</a></li>
                    <li><span>@L["Breadcrumb_TourPackages"]</span></li>
                </ul>
                <img class="bcrumb-ab" src="/vitour/assets/images/page/mask-bcrumb.png" alt="">
            </div>
        </div>
    </div>
</section>
